body{
  width: 100%;
  margin: 0;
  padding: 2em;
  background-color: grey;
}

section {
  width: 80%;
  height: 40em;
  margin: 0;
  padding: 0;
}

.userBar{
  width: 20%;
  background-color: #1e9525;
  display:inline-block;
  height: 30em;
}

video#bgvid {
position: fixed;
top: 40%;
left: 50%;
padding: 0px;
margin: 0px;
min-width: 100%;
min-height: 100%;
width: auto;
height: auto;
z-index: -100;
-webkit-transform: translateX(-50%) translateY(-50%);
transform: translateX(-50%) translateY(-50%);
background: url("css/nik2.mp4") no-repeat;
background-size: cover;
}

.heroButton {
  position: fixed;
  border: 2px solid black;
  top: 30%;
  left: 37%;
  padding: .5em;
  font-size: 2em;
  font-family: copperplate;
}

 .heroTitle {
  position: fixed;
  padding: .5rem 2rem;
  top: 25%;
  left: 20%;
  font-size: 6em;
  font-family: copperplate;
  z-index: 1;
  list-style: none;
  border: 1px solid grey;
  box-shadow: 0px 1px 1px #ffffff;
  background: rgb(246,248,249); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(246,248,249,1) 0%, rgba(229,235,238,1) 50%, rgba(215,222,227,1) 51%, rgba(245,247,249,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(246,248,249,1)), color-stop(50%,rgba(229,235,238,1)), color-stop(51%,rgba(215,222,227,1)), color-stop(100%,rgba(245,247,249,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f8f9', endColorstr='#f5f7f9',GradientType=0 ); /* IE6-9 */



}

.heroLogin {
 position: fixed;
 padding: .5rem 2rem;
 top: 55%;
 left: 26%;
 font-size: 3em;
 font-family: copperplate;
 z-index: 1;
 list-style: none;
 background-color: grey;
 border: 2px solid black;
 list-style: none;
 box-shadow: 0em 0.1em 0.1em #000000;
 text-decoration: none;
}

.heroCreate {
 position: fixed;
 padding: .5rem 1rem;
 top: 55%;
 left: 41%;
 font-size: 3em;
 font-family: copperplate;
 z-index: 1;
 list-style: none;
 background-color: grey;
 border: 2px solid black;
 list-style: none;
 box-shadow: 0em 0.1em 0.1em #000000;
}

.heroTitle:hover {
  text-decoration: none;
}

/* Aside */
.userName, .password, .verifyPassword {
  width: 85%;
  height: 2.2em;
  margin: 1em;
  border-radius: 2px;
  text-decoration: none;
  border: 1px solid #d8d8d8;
  display: none;
  font-size: .9em;
}

.page {
  display: none;

}
.editing {
display: none;
margin-left: 5em;
}

.active {
  display: block;
}

.border {
border: 1px solid black;
}

.title {
  width: 100%;
  padding: 1em;
  font-weight: bold;
  text-align: center;
  background-color: #272B33;
  color: white;
  display: flex;
}

/* Top Buttons */


.theText {
  width: 100%;
  display: flex;
  font-size: 2rem;
  text-align: center;
  left: 50%;
}


.chatRoom {
  border-left: 8px solid #272B33;
  border-right: 8px solid #272B33;
  padding: 1em;
  height: 36.3em;
  overflow: scroll;
  background-origin: border-box;
  background-color: white;
}



/* Buttons */

 .pageWrapper {
  width: 100%;
  margin: 0em;
  padding: 0em;
  display: inline-block;
}

.sendButton {
margin: 1rem;
text-align: center;
font-size: 2rem;
background-color:#1E9526;
border: 1px solid white;
color: white;
border-radius: 2px;
}

.deleteButton {
background-color:#1E9526;
color: white;
font-size: 1.5rem;
padding: .5rem;
border-radius: 2px;
}

.pageWrapper {
  width: 100%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.profImage {
  display: flex;
  width: 100%;
  height: 8.5rem;
}

.profImageWrap {
  width: 20%;
  border: 1px solid #272B33;
  text-align: center;
  height: 8.5rem;
  margin-top: 1rem;
  box-sizing: border-box;
}

.theUserName {
  border: 1px solid #272B33;
  box-sizing: border-box;
}

.textBox {
   width: 80%;
   border: 1px solid #272B33;
   margin: 1rem;
   padding: .5em;
   display: flex;
   height: 10.5rem;
 }

 .textWrap {
   width: 100%;
   display: flex;
 }


  .userDetails {
    width: 96%;
  }

  .date {
    color: #888888;
    margin-left: 1.5em;
    font-size: .85em;
    font-weight: 450;
  }

  .vote {
    color: #888888;
    margin-top: 1em;
    width: 4%;
   }


/* Bottom section of the message input */

.threeBox {
  width: 100%;
  margin: 0em;
  padding: 0em;
  display: flex;
}

.homeBox {
  width:60%;
  border: 1px solid #232B32;
  background-color: #272B33;
}

.messageInput {
  width: 96%;
  height: 2.3em;
  margin: .8em;
  border-radius: 2px;
  text-decoration: none;
  border: 1px solid #d8d8d8;
  display: flex;
  font-size: .9em;
}

.buttonBox {
  width:20%;
  border: 1px solid #232B32;
  background-color: #272B33;
}

/* Start of the aside section */

.userBar{
  width: 20%;
  background-color: #00943A;
  display:inline-block;
  height: 44em;
}

.initialVisit{
  margin-top: 10%;
  padding-left:10%;
  display:none;

}
.returnUser{
  display:none;

}
.newUser{
  display:none;
}

.initialVisit a:link{
  font-size: .8em;
  color: #8bdc91;
  margin-right: 2%;
  text-decoration:none;
}
.initialVisit a:hover{
  color: #0B7712;
  text-decoration:none;
}
.initialVisit a:visited{
  text-decoration:none;
  color: #8bdc91;
}
.loginData{
  margin-top: 5%;
}

.pickImage{
  display:none;
}
.imageOption{
  width:30%;
  margin-top:2%;
  display:inline-block;
}
.imageOption img:hover{
  transform: scale(2);
}
.userSubmit{
  margin-top: 8%;
  display:none;
  background-color: black;
  border: 2px solid white;
  padding: .5rem;
  color: white;
}
.userCreate{
  margin-top: 15%;
  display:none;
}
.feedbackMessage{
  display:none;
}
.loggedOn{
  display:none;
}
.loggedOn img{
  width: 40%;
  height: 4em;
}
.loggedOn h4{
  display:inline-block;
}
.logOut {
  margin-top: 5%;
  display:none;
}
.whosOnline{
  margin-top: 3em;
  margin-left: -1em;
  margin-right: .25em;
  display:none;
  height: 28.3em;
  overflow: scroll;
  background-origin: border-box;
  background-color: white;
}
.WhoIsUser{
  display:inline-block;
}
.personOffline{
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
.editInfoUser{
  display:none;
}
.editUser{
  display:none;
}


.active{
  display:block;
}
